


.tableWrapper {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 100%;
   padding: 0 0 50px 0;
   border: solid thin var(--secondary-border-color);
   border-radius: 10px;
   margin-bottom: 15px;
}

#clientTableHeading {
   font-size: larger;
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 5px 0 5px;
}

table {
   border-collapse: collapse;
   width: 100%;
   
}

#clientsList {
   border-collapse: collapse;
   width: 100%;
}

thead {
   border-radius: 10px;
   text-align: left;
}

thead tr {
   background-color: var(--secondary-bg-color);
}

tbody tr{
   border-bottom: solid thin var(--secondary-border-color);

}


td:last-child, th:last-child {
   text-align: right;
}



table * {
   padding: 5px;
}

.clientName a:hover {
   text-decoration: underline;

}

.clientName a {
   color: var(--link-color);
}



.clientRow {
   margin: 5px;
}


#selectAllCheckbox {
   border-radius: 5px;

}

.selectCell {
   width: 5%;
   
} 

.clientSelect {

}

.buttonWithIcon {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   margin: 0px 5px;
   align-self: center;
   height: 25px;
   width: 25px;
   border-radius: 25px;
   padding: 5px;

}

#deleteButton {
   border: none;
   background-color: #ff000063;
   color: var(--secondary-text-color);
}

#deleteButton:hover {
   background-color: #ff0000;
}

#deleteButton svg {
   height: 20px;
   width: 20px;

}

#refreshButton {
   border: none;
   background-color: #00ff0063;
   color: var(--secondary-text-color);
}

#refreshButton:hover {
   background-color: #00ff00;
}

#refreshButton svg {
   height: 20px;
   width: 20px;

}

#actions {
   display: flex;
   justify-content: flex-end;
   padding: 5px;
}

#searchBar {
   border: solid thin var(--secondary-border-color);
   border-radius: 5px;
   padding: 5px;
   margin: 5px;
   background-color: transparent;
}

#clearButton {
   border: none;
   background-color: transparent;
   color: var(--secondary-text-color);
   border: solid thin var(--secondary-border-color);
   height: 20px;
   width: 20px;
   margin: 10px 0 10px 5px;
}

#clearButton:hover {
   background-color: var(--secondary-bg-color);
}