#infoWrapper {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   height: 100%;
}

.infoBlock {
   border: solid thin var(--border-color);
   margin-top: 5px;
   /* padding: 5px; */
   background-color: var(--internal-bg-color);

}

.infoBlock:first-child {
   margin-top: 0;
}

.infoBlock * {
   padding: 5px;
}

.infoBlock h2 {
   font-size: large;
   margin: 0;
}


.infoBlock h3 {
   margin: 0;
   font-size: medium;
}

.attrabutes {

   display: grid;
   grid-template-columns: 1fr 1fr;

   margin: 0;
   padding: 0;

}

.attrabutes> :nth-child(even) {
   border-left: solid thin var(--secondary-border-color);
}


.dataContainer {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.dataContainer> :nth-child(even) {
   border-left: solid thin var(--border-color);
}

.attrabute {
   /* margin: 5px; */
   padding: 5px;
   border-top: solid thin var(--secondary-border-color);
   /* border-radius: 5px; */
}


/* diagram stuff */

#diagram {
   height: auto;
}

.diagram {
   display: inline;
   padding: 0;
   margin: 5px;
   height: 102px;
   width: 102px;
   /* background-color: rgba(128, 128, 128, 0.123); */
}

.diagramWrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}




details {
   display: inline-block;
   padding: 0 !important;
}

details *:not(summary) {
   margin-left: 30px;
}


/* traffic graph */

#trafficGraph {
   border-top: solid thin var(--border-color);
}


#trafficCanvas {
   border: solid thin var(--border-color);
}