#infoWrapper {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   background-color: var(--internal-bg-color);
}

.infoBlock {
   border: solid thin var(--border-color);
   margin-top: 5px;
   /* padding: 5px; */
}

.infoBlock:first-child {
   margin-top: 0;
}

.infoBlock * {
   padding: 5px;
}

.infoBlock h2 {
   font-size: large;
   margin: 0;
}


.infoBlock h3 {
   margin: 0;
   font-size: medium;
}

.attrabutes {

   /* display each child in rows of 2 if the last has only 1 it takes the full width*/

   display: grid;
   grid-template-columns: 1fr 1fr;

   margin: 0;
   padding: 0;
   
}

.attrabutes > :nth-child(even) {
   border-left: solid thin var(--secondary-border-color);
}


.dataContainer {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.dataContainer > :nth-child(even) {
   border-left: solid thin var(--border-color);
}

.attrabute {
   /* margin: 5px; */
   padding: 5px;
   border-top: solid thin var(--secondary-border-color);
   /* border-radius: 5px; */
}

